subprocess
wolframalpha
wikiquote
pyttsx3
json
speech_recognition
datetime
wikipedia
webbrowser
os
winshell
pyjokes
smtplib
requests
getpass
wmi
os
pathlib
clint
selenium
ecapture
BeautifulSoup